:root {
    /* Neutral Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0:   hsl(200, 60%, 99%);
    /* red variants */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    /* gradients */
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark:  linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Typography */
    --ff-base: 'Noto Sans', sans-serif;
    --fs-base: 16px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Layout Breakpoints */
    --bp-mobile: 375px;
    --bp-desktop: 1440px;
}

body {
    font-family: var(--ff-base);
    font-size: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--neutral-900);
    background: var(--gradient-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

body.dark-mode {
    background: var(--gradient-dark);
    color: var(--neutral-0);
}


header {
    width: 80%;
    max-height: 80px;
    background-color: var(--neutral-0);
    padding: 15px;
    box-shadow: 0 2px 4px var(--neutral-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

body.dark-mode header {
    background-color: var(--neutral-800);
    box-shadow: none;
}

#logo {
    height: 50px;
    width: auto;
}

body.dark-mode #logo {
    filter: brightness(0) inverse(1);
}

#theme-toggle {
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 15px;
    background-color: var(--netrual-0);
}

body.dark-mode #theme-toggle {
    background-color: var(--neutral-700);
}

#theme-toggle:focus {
    Outline: 2px solid var(--red-500);
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--neutral-900), 0 0 0 4px var(--red-500);
}

#moon-icon,
#sun-icon {
    height: 25px;
    width: 25px;
}

body.dark-mode #moon-icon {
    display: none
}

body.dark-mode #sun-icon {
    display: inline;
}

#sun-icon {
    display: none;
}

body.dark-mode #sun-icon:hover {
    background-color: var(--red-400);
}

body.dark-mode .btn.active:hover {
    background-color: var(--red-400);
}

body.dark-mode .btn:hover {
    background-color: var(--neutral-600);
}

body.dark-mode .btn.remove-btn:hover {
    background-color: var(--red-700);
    color: var(--netral-900);
}

body.dark-mode input checked + .slider:hover {
    background-color: var(--red-700);
}

body.dark-mode input:not(:checked) + slider:hover {
    background-color: var(--neutral-200);
}

body:not(.dark-mode) #moon-icon {
    display: inline;
}

#moon-icon:hover {
    background-color: var(--neutral-600);
}

.btn.active:hover {
    background-color: var(--red-400);
}

.btn:hover {
    background-color: var(--neutral-100);
    color: var(--neutral-600)
}

.btn.remove-btn:hover {
    background-color: var(--red-400);
    color: var(--netrual-0);
}

input:checked + .slider:hover {
    background-color: var(--red-400);
}

input:not(:checked) + .slider:hover {
    background-color: var(--neutral-300);
}

main {
    width: 83%;
}

#header-row {
    /* max-height: 80%; */
    padding: 15px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 36px;
}

button {
    border-radius: 25px;
}

button:hover,
.btn:hover,
.btn.remove-btn:hover,
.slider:hover,
#moon-icon:hover,
#sun-icon:hover {
    cursor: pointer;
}

.btn {
    height: 50px;
    /* width: auto; */
    padding: 10px 20px;
    border: 1.5px solid var(--neutral-300);
    background-color: var(--neutral-0);
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

:focus-visible {
    outline: none;
    box-shadow: 0 0 2px var(--netral-900), 0 0 0 4px var(--red-500);
}

.btn.active {
    background-color: var(--red-700);
    color: var(--neutral-0);
    border: none;
}

body.dark-mode .btn {
    background-color: var(--neutral-700);
    color:var(--netrual-0);
    border:none;
}

body.dark-mode .btn.active {
    background-color: var(--red-500);
    color: var(--neutral-900);
    border: none;
}

.btn:focus,
.btn.remove-btn:focus,
.switch-input:focus + .slider,
#theme-toggle:focus {
    outline: 2px solid var(--red-500);
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--neutral-900), 0 0 0 4px var(--red-500);
}

#card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem auto;
    padding: 0 1rem;
    /* max-width: 1200px; */
    width: 96%;
}

.extension-card {
    background-color: var(--neutral-0);
    box-shadow: 0 2px 4px var(--neutral-300);
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.dark-mode .extension-card {
    background-color: var(--neutral-800);
    box-shadow: none;
    border: 1px solid var(--neutral-600)
}

.card-content {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-icon img {
    width: 100%;
    max-width: 60px;
    /* height: auto; */
    /* display: block; */
}

.card-info h3 {
    margin: 0 0 0.25rem;
    font-size: 1.1rem;
}

.card-info p {
    margin: 0;
    font-size: 0.95rem;
    /* font-weight: var(--fw-regular); */
    color: var(--neutral-300)
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.btn.remove-btn {
    height: 35px;
    font-size: 16px;
    font-weight: var(--fw-medium);
    background: transparent;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: var(--neutral-900);
}

.btn.remove-btn:focus {
     border: 1px solid var(--red-500);
     background-color: var(--neutral-100);
}

body.dark-mode .btn.remove-btn {
    background-color: var(--neutral-800);
    /* color: var(--neutral-0); */
    border: 1px solid var(--neutral-300);
}


input.switch-input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}



.slider {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    background-color: var(--neutral-300);
    border-radius: 34px;
    transition: background-color 0.3s;
    padding: 2px;
}

body.dark-mode .slider {
    background-color: var(--neutral-600);
}

/* 
slider circle */
.slider::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 3px;
    background-color: var(--neutral-0);
    border-radius: 50%;
    transition: transform 0.3s;
}

/* toggle ON */
input:checked + .slider {
    background-color: var(--red-500);
}

input:checked + .slider::before {
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.switch-input:focus + .slider {
    outline: 2px solid var(--red-500);
    box-shadow: 0 0 0 2px var(--neutral-900), o o o 4px var(--red-500);
}


@media screen and (min-width: 768px) {
    #card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}